
/*footer*/
/* Movil style */
.footer {
  margin-left: auto;
  margin-right: auto;
  width: var(--width);
  background-color: var(--color-turquoise-blue);
  border-top: 16px solid rgba(239, 42, 130, 1);
}

.footer__border {
  border-top: 1px solid  #2A407C;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: var(--width);
  max-width: var(--max-width);
}

.footer__background {
  padding-top: 10px;
  padding-bottom: 10px;
  width: var(--width);
  background-color: var(--color-turquoise-blue);
  color: var(--color-white);
}
.footer__menu{
  display: flex;
}

.footer__content {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.footer__logo,
.footer__nav,
.footer__icons {
  flex: unset;
  text-align: center;
}

.footer__menu{
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  list-style: none;
  padding: var(--zero);
  margin: var(--zero);
  gap: 15px; 
  margin-bottom: 40px;
  margin-top: 40px;
}


.menu__link {
  font-size: var(--sixteen-pixeles);
  font-weight: var(--font-weight);
  line-height: 18px;
  color: var(--color-menu-link);
  display: inline-block;
  text-decoration: none;
}

.footer__social-icons {
  list-style: none;
  display: flex;
  flex-direction: row; 
  justify-content: flex-end; 
  gap: 30px; 
  align-items: center;
}


.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.footer__logo img{
  width: 138.02px;
  padding: 0px 10.46px 0px 0px;
}



@media (min-width: 481px)  {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    flex: var(--flex);
    text-align: left;
    align-items: center;
    margin-bottom: -8px;
  }

  .footer__nav {
    flex: 2; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 0;
  }

  .footer__menu {
    gap: 25px; 
  }

  .footer__link {
    font-size: 15px;
  }

   .footer__icons {
    flex: var(--flex);
    justify-content: flex-end;
  }

  .footer__social-icons {
    gap: var(--gap-large); 
    align-items: center;
  }

  .footer__redes {
    align-items: center;
  }
}


/* Desktop style */
@media (min-width: 768px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    flex: var(--flex);
    text-align: left;
    align-items: center;
    margin-bottom: -8px;
  }

  .footer__nav {
    flex: 2; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 0;
  }

  .footer__menu {
    gap: 50px; 
  }

  .menu__link {
    font-size: 13px;
  }

  .footer__icons {
    flex: var(--flex);
    justify-content: flex-end;
  }

  .footer__social-icons {
    gap: var(--gap-large); 
    align-items: center;
  }

  .footer__redes {
    align-items: center;
  }
}