
/* Movil style */
.product {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  gap: var(--twenty-pixel);
  padding: var(--twenty-pixel);
  margin: var(--margin-auto);
}

.rating {
  display: inline-flex;
  align-items: center;
}

.star {
  width:var(--sixteen-pixeles);
  height: 15.4px;
  color: var(--color-star);
  margin-left: -13px;
  margin-top: 8px;
}

.product__rating{  
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight);
  line-height: 17.6px;
  margin-left: 2px;
  margin-top: 9.5px;
}
.carousel {
  position: relative;
}

.carousel__product {
  position: relative;
  max-width: 773px;
  width: var(--width);
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  margin: var(--margin-auto);
}
.carousel__product:hover{
  box-shadow: 0px 4px 16px 0px rgba(62, 58, 58, 0.3);
}

.carousel__img {
  display: flex;
  transition: transform 0.2s ease;
}

.carousel__item {
  min-width: 100%;
  height: 290px;
  background-size: cover;
  background-position: center;
  list-style-type: none;
  position: relative;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-white);
  border: 1px solid black;
  border-radius: 50%;
  padding: var(--padding-pn-card);
  cursor: pointer;
  width: 43px;
  height: 45px;
}

.prev:hover{
  background-color: var(--color-striking-gray);
  color: var(--color-white);
}
.next:hover{
  background-color: var(--color-striking-gray);
  color: var(--color-white);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicators {
  position: absolute;
  bottom: 10px;
  width: var(--width);
  display: flex;
  justify-content: center;
}

.dot {
  height: var(--eight-pixel);
  width:var(--sixteen-pixeles);
  margin: 0 5px;
  background-color: #6C6B6A;
  border-radius:var(--border-radius-dot);
  border: none;
}

.dot--active {
  background-color: var(--color-white);
  width: 24px;
  height: var(--eight-pixel);
  border-radius:var(--border-radius-dot);
}

.product__derecha {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  gap: 25px;
}

.card {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius-small);
  padding: var(--padding-pn-card);
  background-color: var(--color-white);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 0px 52px 49px 12px;
  color: #6C6B6A;
  font-size: var(--sixteen-pixeles);
  font-weight: var(--font-weight);
  line-height: var(--line-height-small);
  z-index: 1;
  list-style-type: none;
}

.card:hover {
  box-shadow: var(--box-shadowe);
}

.product__card-link{
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.card .product__categoria {
  display: block;
  color: #A6A6A6;
  font-size: var(--font-size-small); 
  line-height: var(--sixteen-pixeles);
  opacity: 0.6;
  font-weight: var(--font-weight-small);
}

.product__nombre {
  font-size: var(--sixteen-pixeles);
  font-weight: var(--font-weight);
  line-height: var(--line-height-small);
}

.product__card-link:hover ~ .product__sales .product__nombre{
  color: rgb(114, 164, 233);
}

.product__total {
  font-size: var(--twenty-pixel);
  font-weight: var(--font-weight-bold);
  line-height: 25.14px;
  color: var(--color-gray);
}

.product__valor {
  display: flex;
  justify-content: space-between;
}

.product__entrega {
  color: var(--color-text-highlight);
  font-size: var(--font-size-small);
  font-style: italic;
  font-weight: var(--font-weight);
  line-height: var(--sixteen-pixeles);
  text-align: left;
  background-color: #FAEDEC; 
  width: 83px;
  height: 23.62px;
  padding: 5px 4px 5px 4px;
  border-radius: 4px 0px 0px 4px;
}

.product__card-link:hover ~ .product__sales .product__entrega{
  color: #efac03;
}

.product__img{
  display: flex;
  justify-content: flex-end;
}

/* Styles for tablets */
@media (min-width: 768px){
  .product {
    display: flex;
    flex-direction: column;
  }

  .carousel__item {
    height: 490px;
  }

  .product__derecha {
    grid-template-columns: var(--grid-template-columns);
    gap: 5px;
    display: flex;
  }
  .card {
    width: 25%;
    padding: var(--padding-pn-card);
  }

  .product__aire{
    height: 90px;
    margin-bottom: 27px;
  }
}

/* Desktop style */
@media (min-width: 1300px) {
  .product {
    grid-template-columns: var(--grid-template-columns-products);
    max-width: 1343px;
    height: var(--height);
    padding: 50px 0px 0px 0px;
    flex-direction: row;
  }

  .product__derecha {
    grid-template-columns: var(--grid-template-columns-products);
    margin-left: 39px;
    display: grid;
    gap: 25px;
  }

  .card {
    width: 253px;
    height: 265px;
    padding: 0px 52px 49px 12px;
  }

  .carousel__item {
    min-width: 773px;
    height: 563px;
  }

  .prev {
    left: -20px;
  }

  .next {
    right: -20px;
  }

  .indicators {
    justify-content: flex-start;
    margin-left: 268.65px;
    margin-bottom: 151.1px;
  }

  .product__img{
    display: flex;
    margin-left: 3px;
    width: 204px;
    height: 117px;
  }

  .product__aire{
    height: 116px;
  }
}
 
/* Movil style */
.carousel__categories {
  max-width: 1350px;
  margin: auto;
  padding: var(--padding-vertical);
}

.categories {
  position: relative;
}

.categories__title { 
  font-size: var(--twenty-pixel);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-large);
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  color: var(--color-gray);
  margin-left: var(--twenty-pixel);
}

.categories__products {
  overflow: hidden;
  position: relative;
}

.categories__products-shoppings {
  padding: var(--padding-vertical);
  display: flex;
  transition: transform 0.08s ease-in-out;
  grid-template-columns: 1fr;
  gap: var(--gap-medium);
  list-style-type: none;
}

.categories__card {
  border-radius: var(--eight-pixel);
  position: relative;
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  width: var(--card-width);
  height: var(--card-height-mobile);
}

.categories__link {
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.categories__img {
  border-radius: var(--eight-pixel);
}

.categories__text {
  background-color: var(--color-white);
  padding: 10px 25px;
  font-size: var(--twenty-pixel);
  border-radius: var(--eight-pixel); 
  line-height: var(--line-heightx-large);
  color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-small);
  letter-spacing: 1%;
  align-items: center;
}

.categories__link:hover ~ .categories__text {
  color: rgb(114, 164, 233);
}

.prev__card, 
.next__card {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-white);
  border: 1px solid black; 
  border-radius: 50%;
  padding: var(--ten-pixel);
  cursor: pointer;
  width: 43px;
  height: 45px;
  border: 2px 0px 0px 0px;
}

.prev__card {
  left: var(--ten-pixel);
  color: black;
}

.next__card {
  right: var(--ten-pixel);
  color: black;
}

/* Styles for tablets */
@media (min-width: 768px) {
  .carousel__categories {
    max-width: 1300px;
  }

  .categories__title { 
    margin-left: 20px;
  }

  .categories__products-shoppings {
    grid-template-columns: 1fr 1fr;
  }

  .categories__card {
    height: 200px;
  }
}

/* Desktop style */
@media (min-width: 1324px) {
  .carousel__categories {
    max-width: 1350px;
  }

  .categories__title { 
    margin-left: 0px;
  }

  .categories__products-shoppings {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--gap-medium);
  }

  .prev__card {
    left: -50px;
  }

  .next__card {
    right: -55px;
  }
}

.functionality {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  justify-content: center;
  align-items: center;
  padding: var(--twenty-pixel);
  position: relative;
}

.functionality__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width);
  overflow: hidden;
}

.functionality__carousel-wrapper {
  overflow: hidden;
  width: var(--width);
}

.functionality__carousel {
  display: flex;
  transition: transform 0.3s ease;
  list-style-type: none;
}

.functionality__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  background-color: var(--color-white);
  gap: 40px;
  min-width: var(--width);
  box-sizing: border-box;
  padding: var(--twenty-pixel);
}

.functionality__fund {
  position: relative;
  overflow: hidden;
  width: 86.59px;
  height: 103.72px;
  border-radius: var(--border-radius-medium);
  flex-shrink: 0;
}

.functionality__overlay {
  position: absolute;
  width: var(--width);
  height: 100%;
  background-color: var(--color-skin);
  opacity: var(--opacity-two);
  border-radius: var(--border-radius-medium);
  z-index: 1;
}

.functionality__img {
  width: 53.29px;
  height: 51.22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.functionality__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.functionality__paragraph {
  font-size: var(--twenty-pixel);
  font-weight: var(--font-weight-small);
  line-height: var(--line-heightx-large);
  letter-spacing: 1%;
  text-align: center;
  color: var(--color-text-dark);
}

.functionality__Saber-mas {
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight-small);
  line-height: var(--twenty-pixel);
  letter-spacing: var(--letter-spacing-negative);
  text-align: center;
  color: var(--color-text-highlight);
  z-index: 1;
}

.functionality__Saber-mas:hover {
  color: red;
}

.carousel__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  position: absolute;
  transform: translateY(-50%);
}

.carousel__prev, .carousel__next {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: var(--color-text-highlight);
  opacity: var(--opacity-two);
}

.carousel__indicators {
  position: absolute;
  bottom: -30px;
  display: flex;
  justify-content: center;
  width:var(--width);
}

.carousel__indicator {
  width: var(--ten-pixel);
  height: var(--ten-pixel);
  background: #ddd;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  background-color: #FADFDC;
  border: none;
}

.carousel__indicator--active {
  background-color: var(--color-text-highlight);
  outline: var(--color-text-highlight);
  border: none;
}

/* Styles for tablets */
@media (min-width: 768px) {
  .functionality {
    height: 210px;
    padding: 5px;
  }

  .functionality__information {
    flex-direction: row;
    justify-content: space-between;
  }

  .functionality__icons {
    flex-direction: row;
    align-items: center;
    min-width: auto;
    padding: var(--zero);
    gap: 5px;
    overflow: visible;
  }

  .functionality__text {
    align-items: flex-start;
  }

  .functionality__paragraph {
    text-align: left;
    font-size: var(--eighteen-pixel);
  }

  .functionality__bord {
    border: #F5F5F5 solid 1px;
    height: 105px;
  }

  .carousel__controls, .carousel__indicators {
    display: none;
  }

  .functionality__carousel {
    gap: 14px;
  }
}

/* Estilo para escritorio */
@media (min-width: 1300px) {
  .functionality__icons {
    gap: 13px;
  }

  .functionality__carousel {
    gap: 48px;
  }
}

/* Movil style left */
.most-popular {
  width: var(--width);
  margin: var(--margin-auto);
  padding: var(--twenty-pixel);
}

.most-popular__title {
  font-size: var(--twenty-pixel);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-medium);
  letter-spacing: var(--letter-spacing-negative);
  color: var(--color-gray);
  margin-top: 20px;
  margin-bottom: 10px;
}

.most-popular__products {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.most-popular__left {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: var(--border-radius-medium);
}

.most-popular__left:hover {
  box-shadow: var(--box-shadowe);
}

.most-popular__card {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-color: var(--color-white);
  padding: 25px;
  list-style-type: none;
}

.most-popular__link:hover ~ .most-popular__text .most-popular__name {
  color: #72A4E9;
}

.most-popular__link:hover ~ .most-popular__text .most-popular__prices {
  color: #5e0606;
}

.most-popular__link {
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.most-popular__badge {
  color: var(--color-white);
  background: #05B999;
  padding: 2px 5px;
  border-radius: 0px 0px 4px 0px;
  position: absolute;
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight-small);
  line-height: 14px;
}

.most-popular__badge--red {
  background: #EC4C4C;
  border-radius: 4px;
}

.most-popular__img {
  width: var(--width);
  height: auto;
  display: flex;
  justify-content: center;
}

.most-popular__text {
  height: auto;
}

.most-popular__name {
  font-size: var(--eighteen-pixel);
  font-weight: var(--font-weight);
  line-height: var(--line-height-small);
  text-align: left;
  color: var(--color-dark-gray);
  margin-right: var(--margin-right);
}

.most-popular__prices {
  font-size: var(--eighteen-pixel);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-small);
  text-align: left;
  color: var(--color-text-highlight);
}

.most-popular__prices--black {
  font-size: var(--sixteen-pixeles); 
  color: var(--color-strong-gray);
}

.most-popular__prices--black-2 {
  font-size: var(--eighteen-pixel);
  color: var(--color-strong-gray);
}

.most-popular__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.most-popular__number {
  font-size: var(--font-size-small);
  font-style: italic;
  font-weight: var(--font-weight);
  line-height: var(--sixteen-pixeles);
  text-align: left;
  color: var(--color-soft-gray);
}

.most-popular__calification {
  align-items: center;
}

.most-popular__star {
  color: var(--color-star);
  width: var(--eighteen-pixel);
  height: 22px;
}

.most-popular__rating {
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight);
  line-height: var(--eighteen-pixel);
  color: var(--color-striking-gray);
}


/* Styles for tablets */
@media (min-width: 768px) {
  .most-popular {
    max-width: 1350px;
    padding: var(--zero);
  }

  .most-popular__title {
    font-size: var(--font-size-xlarge);
    line-height: var(--line-height-large);
    margin-top: 30px;
    margin-left: 20px;
  }

  .most-popular__products {
    flex-direction: column; 
    margin: 20px;
  }

  .most-popular__left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--zero);
    background-color: var(--color-white);
    padding: 25px 30px;
  }

  .most-popular__card {
    border-radius: var(--zero);
    border-bottom: 1px solid var(--color-light-gray);
    border-right: 1px solid var(--color-light-gray);
    padding: 0px 20px 20px 0px;
  }

  .most-popular__card--card-2 {
    padding: 0px 20px 20px 20px;
  }

  .most-popular__card--card-3 {
    padding: 0px 0px 20px 20px;
    border-right: var(--zero);
  }

  .most-popular__card--card-4 {
    border-right: 1px solid var(--color-light-gray);
    padding: 20px 20px 0px 0px;
    border-bottom: var(--zero);
  }

  .most-popular__card--card-5 {
    padding: 20px 20px 0px 20px;
    border-bottom: var(--zero);
  }

  .most-popular__card--card-6 {
    padding: 20px 0px 0px 20px;
    border-bottom: var(--zero);
    border-right: var(--zero);
  }

  .most-popular__img {
    width: 209.51px;
    height: 169.05px;
  }

  .most-popular__name {
    font-size: var(--sixteen-pixeles);
    font-weight: var(--font-weight);
    line-height: var(--line-height-small);
    text-align: left;
    color: var(--color-dark-gray);
    margin-right: var(--margin-right);
  }

  .most-popular__total {
    margin-top: 22px;
  }

  .most-popular__number {
    font-size: var(--font-size-smalls);
  }
}

/* Desktop style left */
@media (min-width: 1300px) {
  .most-popular {
    width: var(--width);
    margin: var(--margin-auto);
    padding: var(--zero);
  }

  .most-popular__title {
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--color-gray);
    margin-top: 51px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .most-popular__products {
    flex-direction: row;
    margin: 0px;
  }

  .most-popular__left {
    flex-basis: 773px;
    border-radius: var(--border-radius-medium);
  }
}

/* Mobile-first right */
.most-popular__right {
  border-radius: var(--border-radius-small);
  padding: 10px 10px 20px 10px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--color-text-highlight) solid 2px;
}

.most-popular__right:hover {
  box-shadow: var(--box-shadowe);
}

.most-popular__right-img {
  width: var(--width);
  height: auto;
}

.most-popular__right-text {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.most-popular__do {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-small);
  line-height: var(--sixteen-pixeles);
  text-align: left;
  color: var(--color-soft-gray);
}

.most-popular__right-total {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  width: var(--width);
}

.most-popular__right-name {
  font-size: var(--twenty-pixel);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-medium);
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  color: var(--color-striking-gray);
  margin-top: 10px;
  margin-bottom: 20px;
}

.most-popular__right-price {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-heightx-large);
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  color: var(--color-strong-gray);
}

.most-popular__prioridad {
  width: 14.76px;
  height: 14.76px;
  margin-left: 15px;
}

.most-popular__rigiht-entrega {
  color: var(--color-text-highlight);
  font-size: 14.76px;
  font-style: italic;
  font-weight: var(--font-weight);
  line-height: var(--eighteen-pixel);
  text-align: left;
  background-color: #FAEDEC;
  width: auto; 
  padding: 7.38px 12px;
  gap: 4px;
  border-radius: 4.92px 0px 0px 4.92px;
  align-items: center;
  display: flex;

}

.most-popular__bord {
  width: var(--width); 
  border: 0.5px solid var(--color-solid);
  margin-top: 15.35px;
}

.most-popular__bord-botton {
  display: flex;
  justify-content: flex-end;
  width: var(--width);
}

.most-popular__bord-button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 268.49px;
  height: 72.09px;
  gap: 6px;
  border-radius: var(--eight-pixel);
  color: var(--color-white);
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight-small);
  line-height: var(--eighteen-pixel);
  letter-spacing: 6%;
  margin-top: 13px;
  margin-right: var(--twenty-pixel);
  background-color: var(--color-text-highlight);
}

.most-popular__link:hover ~ .most-popular__bord-botton .most-popular__bord-button{
  background-color: red;
}

.arrow {
  width: var(--sixteen-pixeles);
  height: var(--sixteen-pixeles);
  margin-bottom: -3px;
}

.most-popular__right-method {
  align-self: flex-start;
  margin-top: 45px;
}

.most-popular__right-shipping,
.most-popular__right-removal {
  display: flex;
  align-items: center;
}

.most-popular__right-close,
.most-popular__right-check {
  width: 21.46px;
  height: 16.35px;
  margin-right: 8px;
}

.Close,
.Check {
  font-size: var(--sixteen-pixeles);
  font-weight: var(--font-weight);
  line-height: 23.02px;
  text-align: left;
}

.Close {
  color: var(--color-solid);
}

.Check {
  color: var(--color-striking-gray);
}

.most-popular__rigth-calification {
  align-self: flex-end;
  display: flex;
  position: absolute;
  margin-right: var(--twenty-pixel);
}

.most-popular__rigth-star {
  color: var(--color-star);
  width: 18.81px;
  height: 22.51px;
}

.most-popular__rigth-rating {
  font-size: var(--sixteen-pixeles);
  font-weight: var(--font-weight);
  line-height: var(--twenty-pixel);
  color: var(--color-striking-gray);
}

/* Desktop style right */
@media (min-width: 768px) {
  .most-popular__right {
    border-radius: var(--border-radius-small);
    padding: 10px 0px 20px 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-color: var(--color-white);
    height: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .most-popular__right-img {
    width: 336.85px;
    height: 336.85px;
  }

  .most-popular__right-name {
    font-size: var(--font-size-xlarge);
    line-height: var(--line-height-large);
    margin-bottom: 40px;
  }

  .most-popular__right-price {
    font-size: 34px;
    line-height: 44px;
  }

  .most-popular__rigiht-entrega {
    width: 149px;
    height: 42px;
    padding: 7.38px 12px;
    margin-right: -90px;
  }

  .most-popular__bord {
    width: 515.84px;
  }

  .most-popular__rigth-calification {
    margin-right: var(--twenty-pixel);
  }

  .most-popular__right-method {
    position: absolute;
    align-self: flex-start;
    margin-top: 45px;
  }
}

/* Movil style */
.popular-brands {
  width: var(--width);
  padding: var(--zero);
}

.popular-brands__title {
  font-size: var(--twenty-pixel);
  font-weight: var(--font-weight-small); 
  line-height: var(--line-heightx-large);
  letter-spacing: 1%;
  color: #363535;
  margin: 28px auto;
  max-width: 1300px;
  margin-left: 20px;
}

.popular-brands__background {
  background-color: #EEEEF6;
}

.popular-brands__icons {
  display: flex;
  align-items: center;
  padding: 40px 0;
  gap: var(--ten-pixel);
}

.popular-brands__carousel {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  list-style-type: none;
}

.popular-brands__carousel::-webkit-scrollbar {
  display: none;
}

.popular-brands__img {
  scroll-snap-align: center;
}

/* Styles for tablets */
@media (min-width: 768px) {
  .popular-brands__carousel {
    display: flex;
    gap: 40px;
    overflow-x: auto;
  }
}

/* Desktop style */
@media (min-width: 1300px) {
  .popular-brands__carousel {
    overflow: visible;
  }

  .popular-brands__title { 
    display: flex;
    justify-content: flex-start;
    margin: 28px auto;
  }

  .popular-brands__img {
    width: 221px;
    height: 121.9px;
  }

  .popular-brands__icons {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 40px 0px 40px;
    gap: 44px;
    max-width: 1350px;
    margin: 0 auto;  
  }
}
/* Movil style */
.collections {
  display: flex;
  flex-direction: column;
  width: var(--width);
  margin: auto;
  gap: var(--twenty-pixel);
  margin-top: 20px;
  margin-bottom: 20px;
}

.collections__floors {
  width: var(--width-large);
  height: auto;
  border-radius: var(--border-radius-medium);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, #0CEACF 0%, #0BA18F 100%);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
  color: var(--color-white);
  margin: auto;
}

.collections__link {
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.collections__svg {
  width: 326.5px;
  height: var(--height-large);
  display: flex;
  position: absolute;
}

.collections__information {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  width: var(--width-medium);
}

.collections__title {
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight-small);
  line-height: var(--twenty-pixel);
  letter-spacing: var(--letter-spacing-positive);
  color: var(--color-white);
  margin-right: var(--margin-auto);
  margin-left: 22px;
}

.collections__text {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-large);
  letter-spacing: var(--letter-spacing-positive);
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
}

.collections__img {
  width: var(--width-medium);
  height: auto;
  border-radius: var(--border-radius-xmedium);
  display: flex;
  justify-content: flex-end;
}

.collections__botton {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  background-color: var(--color-warm-gray);
  color: var(--color-white);
  font-size: var(--ten-pixel);
  border-radius: var(--eight-pixel);
  width: var(--width-xmedium);
  height: var(--height-small);
  text-decoration: none;
  font-weight: var(--font-weight-small);
  line-height: var(--sixteen-pixeles);
  letter-spacing: 6%;
  align-items: center;
  box-shadow: var(--box-shadowx);
}

.collections__floors:hover {
  box-shadow: var(--box-shadowy);
}

.collections__link:hover ~ .collections__information .collections__botton {
  background-color: var(--color-strongx-gray);
}

.collections__painting {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background: linear-gradient(180deg, #F7CB20 0%, #F8A904 55.73%);
  border-radius: var(--border-radius-medium);
  display: flex;
  text-align: center;
  width: var(--width-large);
  position: relative;
  color: var(--color-white);
  margin: auto;
  flex-direction: row;
  height: 221.12px;
}

.collections__svg-right {
  height: 221.12px;
  position: absolute;
  display: flex;
}

.collections__information-right {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: var(--width-medium);
  text-align: left;
}

.collections__title-right {
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight-small);
  line-height: var(--ten-pixel);
  letter-spacing: var(--letter-spacing-positive);
  margin-right: auto;
  margin-left: 20px;
}

.collections__text-right {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-large);
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
}

.collections__img-right {
  display: flex;
  align-self: flex-end;
  width: var(--width-medium);
  height: auto;
  border-radius: var(--border-radius-xmedium);
}

.collections__botton-rigth {
  width: var(--width-xmedium);
  height: var(--height-small);
  border-radius: var(--eight-pixel);
  background: var(--color-warm-gray);
  color: var(--color-white);
  text-decoration: none;
  margin-left: 20px;
  margin-top: 45px;
  font-size: var(--ten-pixel);
  line-height: 15.6px;
  font-weight: var(--font-weight-small);
  letter-spacing: 6%;
  justify-content: center;
  display: flex;
  box-shadow: var(--box-shadowx);
  gap: 6px;
  display: flex;
  align-items: center; 
}

.collections__botton-rigth .arrow {
  margin-top: -2px;
}

.collections__painting:hover {
  box-shadow: var(--box-shadowy);
}

.collections__link:hover ~ .collections__information-right .collections__botton-rigth {
  background-color: var(--color-strongx-gray);
}

/* Styles for tablets */
@media (min-width: 768px) {
  .collections {
    display: flex;
    flex-direction: row;
    padding: var(--twenty-pixel);
  }

  .collections__svg {
    width: var(--width);
    height: 100%;
    display: flex;
    position: absolute;
  }

  .collections__painting {
    margin: 0px;
    flex-direction: row;
    height: auto;
  }
}

/* Desktop style */
@media (min-width: 1300px) {
  .collections {
    max-width: 1350px;
    gap: 35px;
    margin-top: 40px;
    margin-bottom: 41px;
  }

  .collections__floors {
    width: 663px;
    height: 400px;
    flex-direction: row;
  }

  .collections__svg {
    width: 326.5px;
    height: var(--height-large);
  }

  .collections__information{
    margin-top: 41px;
  }

  .collections__title {
    font-size: var(--twenty-pixel);
    line-height: var(--line-heightx-large);
    text-align: left;
    margin-right: auto;
    margin-left: 35px;
    margin-bottom: 5px;
  }

  .collections__text {
    font-size: 48px;
    line-height: 54px;
    margin-left: 33px;
  }

  .collections__img {
    border-radius: 0 12px 12px;
  }

  .collections__botton {
    margin-top: 78px;
    font-size: var(--font-size-smalls);
    width: 276.46px;
    height:  58px;
    text-decoration: none;
    line-height: var(--eighteen-pixel);
    letter-spacing: 6%;
    margin-left: 18px;
    align-items: center;
  }

  .collections__painting {
    width: 662px;
    height: 400px;
    flex-direction: row;
  }

  .collections__svg-right {
    width: 326px;
    height: var(--height-large);
    position: absolute;
    display: flex;
  }

  .collections__information-right {
    margin-top: 52px;
  }

  .collections__title-right {
    font-size: var(--twenty-pixel);
    line-height: var(--line-heightx-large);
    font-weight: var(--font-weight-small);
    margin-left: 32px;
  }

  .collections__text-right {
    font-size: 60px;
    line-height: 65px;
    margin-left: var(--line-heightx-large);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-negative);
    margin-top: 5px;
  }

  .collections__img-right {
    width: auto;
    height: auto;
    border-radius: var(--border-radius-xmedium);
    margin-left: -70px;
  }

  .collections__botton-rigth {
    width: 247.31px;
    height: 58px;
    margin-left: 30px;
    margin-top: 73px;
    font-size: var(--font-size-smalls);
    line-height: var(--eighteen-pixel);
    gap: var(--eight-pixel);
    align-items: center;
    display: flex;
  }

  .collections__botton-rigth .arrow {
    margin-top: -3px;
  }
}

