* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}



body {
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
}

.container {
  max-width: 1181px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-decoration-none {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 68px;
  padding: 10px;
  text-decoration: none;

}

.btn--primary {
  background-color: #EF2A82;
  color: #FFFFFF;
}

.btn--outline {
  background-color: transparent;
  border: 1px solid #8794BA;
  color: #8794BA;
}

.c-secondary {
  color: #8794BA;
}

.c-white {
  color: #FFFFFF;

}


/* Movil style */

.header {
  background-color: #172755;
}

.header .header__top {
  background: #0088F080;
  padding-top: 48px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__top-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.header__bottom {
  padding-top: 18px;
  padding-bottom: 29px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
  line-height: 18.75px;
}

.menu__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #8794BA;
  font-family: "Roboto", Arial, sans-serif;
}

.header__login {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size:16px;
  line-height: 18.75px;
}

.header__btn {
  padding: 10px 53px;
}

.header__logo {
  width: 190px;
  height: 40px;
}

.header__search {
  display: flex;
  width: 100%;
  justify-content: center;
}

.header__search-input {
  padding: 14px 8px 12px;
  border: none;
  border-radius: 8px 0px 0px 8px;
  width: 80%;
  line-height: 22px;
  font-size: 16px;
}

.header__search-button {
  background-color: #EF2A82;
  border: none;
  border-radius: 0px 8px 8px 0px;
  padding: 16px 12px;
}

.header__location-hello {
  font-size: 20px;
  color: white;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-right: 0;
  gap: 18px;
  font-weight: 400;
  letter-spacing: 1%;
}

.header__hello-img, 
.header__location-img {
  width: 24px;
  height: 24px; 
  margin-bottom: -8px;
  margin-right: 3px;
  font-weight: 400;
}

.bord {
  border: #A6A6A6 solid 1px;
  height: 40px;
}

.nav-link { 
  font-size: 12px;
  text-decoration: none;
  line-height: 20px;
  color: #FFCCB4;
  display: block;
}

/* Desktop style */

@media (min-width: 768px) {
  .header .header__top {
    padding-top: 48px;
    padding-bottom: 22px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .header__top-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__bottom {
    padding-top: 18px;
    padding-bottom: 29px;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    flex-direction: row;
    justify-content: center;
    gap: 36px;
  }

  .header__login {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .header__btn {
    padding: 10px 53px;
  }

  .header__logo {
    width: 190px;
    height: 40px;
    margin-bottom: 0;
  }

  .header__search {
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .header__search-input {
    width: 468px;
    border-radius: 8px 0 0 8px;
    margin-bottom: 0;
  }

  .header__search-button {
    width: auto;
    border-radius: 0 6px 6px 0;
    padding: 14.4px 12px;
  }

  .header__location-hello {
    flex-direction: row;
    margin-right: 40px;
    
  }
  .bord {
    width: auto;
  }

  .nav-link {
    font-size: 14px;
  }
}


/* Movil style */
.product {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  margin: auto;
}

.rating {
  display: inline-flex;
  align-items: center;
}

.star {
  width: 16px;
  height: 15.4px;
  color: #FDBF00;
  margin-left: -13px;
  margin-top: 8px;
}

.product__rating{  
  font-size: 14px;
  font-weight: 400;
  line-height: 17.6px;
  margin-left: 2px;
  margin-top: 9.5px;
  color: #6C6B6A;
}
.carousel {
  position: relative;
}

.carousel__product {
  position: relative;
  max-width: 773px;
  width: 100%;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  margin: auto;
}

.carousel__img {
  display: flex;
  transition: transform 0.2s ease;
}

.carousel__item {
  min-width: 100%;
  height: 290px;
  background-size: cover;
  background-position: center;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: 43px;
  height: 45px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dot {
  height: 8px;
  width: 16px;
  margin: 0 5px;
  background-color: #6C6B6A;
  border-radius: 4px;
  border: none;
}

.dot--active {
  background-color: white;
  width: 24px;
  height: 8px;
  border-radius: 4px;
}

.product__derecha {
  display: grid;
  grid-template-columns: 1fr;
  gap:25px;
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 0px 52px 49px 12px;
  color: #6C6B6A;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.product__card-link{
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.card .product__categoria {
  display: block;
  color: #A6A6A6;
  font-size: 12px; 
  line-height: 16px;
  opacity: 0.6;
  font-weight: 600;
}

.product__nombre {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.product__card-link:hover ~ .product__sales .product__nombre{
  color: rgb(114, 164, 233);
}

.product__total {
  font-size: 20px;
  font-weight: 700;
  line-height: 25.14px;
  color: #363535;
}

.product__valor {
  display: flex;
  justify-content: space-between;
}

.product__entrega {
  color: #D14D41;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15.08px;
  text-align: left;
  background-color: #FAEDEC; 
  width: 83px;
  height: 23.62px;
  padding: 5px 4px 5px 4px;
  border-radius: 4px 0px 0px 4px;
}

.product__card-link:hover ~ .product__sales .product__entrega{
  color: #efac03;
}


.product__img{
  display: flex;
  justify-content: flex-end;
}

/* Desktop style */
@media (min-width: 768px) {
  .product {
    grid-template-columns: 1fr 1fr;
    max-width: 1343px;
    height: auto;
    padding: 50px 0px 0px 0px;
  }
  
  .product__derecha {
    grid-template-columns: 1fr 1fr;
    margin-left: 39px;
  }

  .card {
    width: 253px;
    height: 265px;
    padding: 0px 52px 49px 12px;
  }

  
  .carousel__item {
    min-width: 773px;
    height: 563px;
  }

  .prev {
    left: -20px;
  }

  .next {
    right: -20px;
  }

  .indicators {
    justify-content: flex-start;
    margin-left: 268.65px;
    margin-bottom: 151.1px;
  }

  .product__img{
    display: flex;
    margin-left: 3px;
    width: 204px;
    height: 117px;
  }
}

/* Movil style */
.carousel__categories {
  max-width: 1350px;
  margin: auto;
  padding: 20px 0;
}

.categories {
  position: relative;
}

.categories__title { 
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1%;
  text-align: left;
  color: #363535;
  margin-left: 20px;
}


.categories__products {
  overflow: hidden;
  position: relative;
}

.categories__products-shoppings {
  padding: 20px 0;
  display: flex;
  transition: transform 0.08s ease-in-out;
  grid-template-columns: 1fr;
  gap:24.98px;
}


.categories__card {
  border-radius: 8px;
  position: relative;
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  width: 318.55px;
  height: 206.12px;
}

.categories__link {
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.categories__img {
  border-radius: 8px;
}


.categories__text {
  background-color: white;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 8px; 
  line-height: 30px;
  color: #363535;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  letter-spacing: 1%;
  align-items: center;
}

.categories__link:hover ~ .categories__text {
  color: rgb(114, 164, 233);
}

.prev__card, 
.next__card{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid black; 
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: 43px;
  height: 45px;
  border: 2px 0px 0px 0px;
}

.prev__card {
  left: 10px;
  color: black;
}

.next__card {
  right: 10px;
  color: black;
}


/* Desktop style */
@media (min-width: 768px) {
  .carousel__categories {
    max-width: 720px;
  }

  .categories__title { 
    margin: 0px;
  }
  .categories__products-shoppings {
    grid-template-columns: 1fr 1fr;
  }

  .categories__card {
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .carousel__categories {
    max-width: 1350px;
  }

  .categories__products-shoppings {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24.98px;
  }

  .categories__card {
    width: 318.55px;
    height: 206.12px;
  }
  
  .prev__card {
    left: -50px;
  }

  .next__card {
    right: -55px;
  }
}

/* Estilo para móvil */
.functionality {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.functionality__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.functionality__carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.functionality__carousel {
  display: flex;
  transition: transform 0.3s ease;
}

.functionality__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  gap: 40px;
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.functionality__fund {
  position: relative;
  overflow: hidden;
  width: 86.59px;
  height: 103.72px;
  border-radius: 12px;
  flex-shrink: 0;
}

.functionality__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFCCB4;
  opacity: 0.2;
  border-radius: 12px;
  z-index: 1;
}

.functionality__img {
  width: 53.29px;
  height: 51.22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.functionality__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.functionality__paragraph {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1%;
  text-align: center;
  color: #363535;
}

.functionality__Saber-mas {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -1%;
  text-align: center;
  color: #D14D41;
}

.carousel__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  position: absolute;
  transform: translateY(-50%);
}

.carousel__prev,
.carousel__next {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #D14D41;
  opacity: 0.2;
}

.carousel__indicators {
  position: absolute;
  bottom: -30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel__indicator {
  width: 10px;
  height: 10px;
  background: #ddd;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  background-color: #fadfdc;
  border: none;
}

.carousel__indicator--active {
  background-color: #D14D41;
  outline: #D14D41;
  border: none;
}

/* Estilo para escritorio */
@media (min-width: 768px) {
  .functionality {
    height: 210px;
  }

  .functionality__information {
    flex-direction: row;
    justify-content: space-between;
  }

  .functionality__icons {
    flex-direction: row;
    align-items: center;
    min-width: auto;
    padding: 0;
    gap: 13.32px;
  }

  .functionality__text {
    align-items: flex-start;
  }

  .functionality__paragraph,
  .functionality__Saber-mas {
    text-align: left;
  }

  .functionality__bord {
    border: #f5f5f5 solid 1px;
    height: 105px;
  }

  .carousel__controls,
  .carousel__indicators {
    display: none;
  }

  .functionality__carousel {
    gap:48px;
  }
}


/* Mobile-first left*/
.most-popular {
  width: 100%;
  margin: auto;
  padding: 20px; 
}

.most-popular__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1%;
  color: #363535;
  margin-top: 20px;
  margin-bottom: 10px;
}

.most-popular__products {
  display: flex;
  flex-direction: column; 
  gap: 31px;
}

.most-popular__left {
  display: flex;
  flex-direction: column; 
  gap: 2px;
  border-radius: 12px;
}

.most-popular__card{
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-color: white;
  padding: 25px; 
}


.most-popular__link:hover ~ .most-popular__text .most-popular__name {
  color: #72A4E9;
}


.most-popular__link:hover ~ .most-popular__text .most-popular__prices{
  color: #5e0606;
}

.most-popular__link {
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.most-popular__badge{ 
  color: #FFFFFF;
  background: #05B999;
  padding: 2px 5px;
  border-radius: 0px 0px 4px 0px;
  position: absolute;
  font-size: 14.11px;
  font-weight: 600;
  line-height: 14.11px;
}

.most-popular__badge--red {
  background: #EC4C4C;
  border-radius: 4px;
}

.most-popular__img {
  width: 100%; 
  height: auto; 
  display: flex;
  justify-content: center;
}

.most-popular__text {
  height: auto; 
}

.most-popular__name {
  font-size: 18px; 
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #716C6C;
  margin-right: 70px;
}

.most-popular__prices {
  font-size: 18px; 
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #D14D41;
}

.most-popular__prices--black {
  font-size: 16px; 
  color: #292727;
}

.most-popular__prices--black-2 {
  font-size: 18px; 
  color: #292727;
}

.most-popular__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}


.most-popular__number {
  font-size: 12px; 
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #A6A6A6;
}

.most-popular__calification {
  align-items: center;
}

.most-popular__star {
  color: #FDBF00;
  width: 18px;
  height: 22px;
}

.most-popular__rating {
  font-size: 14px; 
  font-weight: 400;
  line-height: 18px;
  color: #6C6B6A;
}



/* Desktop style left*/
@media (min-width: 768px) {
  .most-popular {
    max-width: 1350px;
    width: 100%;
    margin: auto;
    padding: 0px;
  }

  .most-popular__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1%;
    color: #363535;
    margin-top: 51px;
    margin-bottom: 20px;
  }

  .most-popular__products {
    flex-direction: row; 
  }

  .most-popular__left {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0px;
    flex-basis: 773px;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 25px 30px; 
  }

  .most-popular__card {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-color: white;
    border-radius: 0px;
    border-bottom: 1px solid #D7D6D6;
    border-right: 1px solid #D7D6D6;
    padding: 0px 20px 20px 0px;
  }
    
  .most-popular__card--card-2 {
    padding: 0px 20px 20px 20px;
  }

  .most-popular__card--card-3 {
    padding: 0px 0px 20px 20px;
    border-right: 0px;
  }

  .most-popular__card--card-4 {
    border-right: 1px solid #D7D6D6;
    padding: 20px 20px 0px 0px;
    border-bottom: 0px;
  }

  .most-popular__card--card-5 {
    padding: 20px 20px 0px 20px;
    border-bottom: 0px;
  }

  .most-popular__card--card-6 {
    padding: 20px 0px 0px 20px;
    border-bottom: 0px;
    border-right: 0px;
  }
  .most-popular__img {
    width: 209.51px;
    height: 169.05px;
  }

  .most-popular__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color:#716C6C;
    margin-right: 70px;
  }

  .most-popular__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
  }

  .most-popular__number {
    font-size: 14px;
  }
}

/* Mobile-first right*/
.most-popular__right {
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #D14D41 solid 2px;
}



.most-popular__right-img {
  width: 100%; 
  height: auto; 
}

.most-popular__right-text {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.most-popular__do {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #A6A6A6;
}

.most-popular__right-total {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  width: 100%;
}

.most-popular__right-name {
  font-size: 20px; 
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: left;
  color: #6C6B6A;
  margin-top: 10px;
  margin-bottom: 20px;
}

.most-popular__right-price {
  font-size: 24px; 
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #292727;
}

.most-popular__prioridad {
  width: 14.76px;
  height: 14.76px;
  margin-left: 15px;
}

.most-popular__rigiht-entrega {
  color: #D14D41;
  font-size: 14.76px;
  font-style: italic;
  font-weight: 400;
  line-height: 18.55px;
  text-align: left;
  background-color: #FAEDEC;
  width: auto; 
  padding: 7.38px 12px;
  gap: 4px;
  border-radius: 4.92px 0px 0px 4.92px;
  align-items: center;
  display: flex;

}

.most-popular__bord {
  width: 100%; 
  border: 0.5px solid #D8D8D8;
  margin-top: 15.35px;
}


.most-popular__bord-botton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.most-popular__bord-button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 268.49px;
  height: 72.09px;
  gap: 6px;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.6px;
  letter-spacing: 6%;
  margin-top: 13px;
  margin-right: 20px;
  background-color: #D14D41;
}


.arrow {
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}

.most-popular__right-method {
  align-self: flex-start;
  margin-top: 45px;
}

.most-popular__right-shipping,
.most-popular__right-removal {
  display: flex;
  align-items: center;
}

.most-popular__right-close,
.most-popular__right-check {
  width: 21.46px;
  height: 16.35px;
  margin-right: 8px;
}

.Close,
.Check {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.02px;
  text-align: left;
}

.Close {
  color: #D8D8D8;
}

.Check {
  color: #6C6B6A;
}

.most-popular__rigth-calification {
  align-self: flex-end;
  display: flex;
  position: absolute;
  margin-right: 20px;
}

.most-popular__rigth-star {
  color: #FDBF00;
  width: 18.81px;
  height: 22.51px;
}

.most-popular__rigth-rating {
  font-size: 16.46px;
  font-weight: 400;
  line-height: 20.69px;
  color: #6C6B6A;
}

/* Desktop style right */

@media (min-width: 768px) {
  .most-popular__right {
    border-radius: 10px;
    padding: 10px 0px 20px 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-color: white;
    flex-basis: 547px;
    height: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .most-popular__right-img {
    width: 336.85px;
    height: 336.85px;
  }

  .most-popular__right-name {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .most-popular__right-price {
    font-size: 34px;
    line-height: 44px;
  }

  .most-popular__rigiht-entrega {
    width: 149px;
    height: 42px;
    padding: 7.38px 12px;
    margin-right: -90px;
  }

  .most-popular__bord {
    width: 515.84px;
  }

  .most-popular__rigth-calification {
    margin-right: 20px;
  }

  .most-popular__right-method {
    position: absolute;
    align-self: flex-start;
    margin-top: 45px;
  }
}
