* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}



body {
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
}

.container {
  max-width: 1181px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-decoration-none {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 68px;
  padding: 10px;
  text-decoration: none;

}

.btn--primary {
  background-color: #EF2A82;
  color: #FFFFFF;
}

.btn--outline {
  background-color: transparent;
  border: 1px solid #8794BA;
  color: #8794BA;
}

.c-secondary {
  color: #8794BA;
}

.c-white {
  color: #FFFFFF;

}


/* Movil style */

.header {
  background-color: #172755;
}

.header .header__top {
  background: #0088F080;
  padding-top: 48px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__top-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.header__bottom {
  padding-top: 18px;
  padding-bottom: 29px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
  line-height: 18.75px;
}

.menu__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #8794BA;
  font-family: "Roboto", Arial, sans-serif;
}

.header__login {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size:16px;
  line-height: 18.75px;
}

.header__btn {
  padding: 10px 53px;
}

.header__logo {
  width: 190px;
  height: 40px;
}

.header__search {
  display: flex;
  width: 100%;
  justify-content: center;
}

.header__search-input {
  padding: 14px 8px 12px;
  border: none;
  border-radius: 8px 0px 0px 8px;
  width: 80%;
  line-height: 22px;
  font-size: 16px;
}

.header__search-button {
  background-color: #EF2A82;
  border: none;
  border-radius: 0px 8px 8px 0px;
  padding: 16px 12px;
}

.header__location-hello {
  font-size: 20px;
  color: white;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-right: 0;
  gap: 18px;
  font-weight: 400;
  letter-spacing: 1%;
}

.header__hello-img, 
.header__location-img {
  width: 24px;
  height: 24px; 
  margin-bottom: -8px;
  margin-right: 3px;
  font-weight: 400;
}

.bord {
  border: #A6A6A6 solid 1px;
  height: 40px;
}

.nav-link { 
  font-size: 12px;
  text-decoration: none;
  line-height: 20px;
  color: #FFCCB4;
  display: block;
}

/* Desktop style */

@media (min-width: 768px) {
  .header .header__top {
    padding-top: 48px;
    padding-bottom: 22px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .header__top-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__bottom {
    padding-top: 18px;
    padding-bottom: 29px;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    flex-direction: row;
    justify-content: center;
    gap: 36px;
  }

  .header__login {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .header__btn {
    padding: 10px 53px;
  }

  .header__logo {
    width: 190px;
    height: 40px;
    margin-bottom: 0;
  }

  .header__search {
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .header__search-input {
    width: 468px;
    border-radius: 8px 0 0 8px;
    margin-bottom: 0;
  }

  .header__search-button {
    width: auto;
    border-radius: 0 6px 6px 0;
    padding: 14.4px 12px;
  }

  .header__location-hello {
    flex-direction: row;
    margin-right: 40px;
    
  }
  .bord {
    width: auto;
  }

  .nav-link {
    font-size: 14px;
  }
}


/* Movil style */
.product {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  margin: auto;
}

.rating {
  display: inline-flex;
  align-items: center;
}

.star {
  width: 16px;
  height: 15.4px;
  color: #FDBF00;
  margin-left: -13px;
  margin-top: 8px;
}

.product__rating{  
  font-size: 14px;
  font-weight: 400;
  line-height: 17.6px;
  margin-left: 2px;
  margin-top: 9.5px;
  color: #6C6B6A;
}
.carousel {
  position: relative;
}

.carousel__product {
  position: relative;
  max-width: 773px;
  width: 100%;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  margin: auto;
}

.carousel__img {
  display: flex;
  transition: transform 0.2s ease;
}

.carousel__item {
  min-width: 100%;
  height: 290px;
  background-size: cover;
  background-position: center;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: 43px;
  height: 45px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dot {
  height: 8px;
  width: 16px;
  margin: 0 5px;
  background-color: #6C6B6A;
  border-radius: 4px;
  border: none;
}

.dot--active {
  background-color: white;
  width: 24px;
  height: 8px;
  border-radius: 4px;
}

.product__derecha {
  display: grid;
  grid-template-columns: 1fr;
  gap:25px;
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 0px 52px 49px 12px;
  color: #6C6B6A;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.product__card-link{
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.card .product__categoria {
  display: block;
  color: #A6A6A6;
  font-size: 12px; 
  line-height: 16px;
  opacity: 0.6;
  font-weight: 600;
}

.product__nombre {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.product__card-link:hover ~ .product__sales .product__nombre{
  color: rgb(114, 164, 233);
}

.product__total {
  font-size: 20px;
  font-weight: 700;
  line-height: 25.14px;
  color: #363535;
}

.product__valor {
  display: flex;
  justify-content: space-between;
}

.product__entrega {
  color: #D14D41;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15.08px;
  text-align: left;
  background-color: #FAEDEC; 
  width: 83px;
  height: 23.62px;
  padding: 5px 4px 5px 4px;
  border-radius: 4px 0px 0px 4px;
}

.product__card-link:hover ~ .product__sales .product__entrega{
  color: #efac03;
}


.product__img{
  display: flex;
  justify-content: flex-end;
}

/* Desktop style */
@media (min-width: 768px) {
  .product {
    grid-template-columns: 1fr 1fr;
    max-width: 1343px;
    height: auto;
    padding: 50px 0px 0px 0px;
  }
  
  .product__derecha {
    grid-template-columns: 1fr 1fr;
    margin-left: 39px;
  }

  .card {
    width: 253px;
    height: 265px;
    padding: 0px 52px 49px 12px;
  }

  
  .carousel__item {
    min-width: 773px;
    height: 563px;
  }

  .prev {
    left: -20px;
  }

  .next {
    right: -20px;
  }

  .indicators {
    justify-content: flex-start;
    margin-left: 268.65px;
    margin-bottom: 151.1px;
  }

  .product__img{
    display: flex;
    margin-left: 3px;
    width: 204px;
    height: 117px;
  }
}

/* Movil style */
.carousel__categories {
  max-width: 1350px;
  margin: auto;
  padding: 20px 0;
}

.categories {
  position: relative;
}

.categories__title  { 
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1%;
  text-align: left;
  color: #363535;
  margin-left: 20px;
}


.categories__products {
  overflow: hidden;
  position: relative;
}

.categories__products-shoppings {
  padding: 20px 0;
  display: flex;
  transition: transform 0.08s ease-in-out;
  grid-template-columns: 1fr;
  gap:24.98px;
}


.categories__card {
  border-radius: 8px;
  position: relative;
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  width: 318.55px;
  height: 206.12px;
}

.categories__link {
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.categories__img {
  border-radius: 8px;
}


.categories__text {
  background-color: white;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 8px; 
  line-height: 30px;
  color: #363535;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  letter-spacing: 1%;
  align-items: center;
}

.categories__link:hover ~ .categories__text {
  color: rgb(114, 164, 233);
}

.prev__card, 
.next__card{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid black; 
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: 43px;
  height: 45px;
  border: 2px 0px 0px 0px;
}

.prev__card {
  left: 10px;
  color: black;
}

.next__card {
  right: 10px;
  color: black;
}


/* Desktop style */
@media (min-width: 768px) {
  .carousel__categories {
    max-width: 720px;
  }

  h3 { 
    margin: 0px;
  }
  .categories__products-shoppings {
    grid-template-columns: 1fr 1fr;
  }

  .categories__card {
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .carousel__categories {
    max-width: 1350px;
  }

  .categories__products-shoppings {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24.98px;
  }

  .categories__card {
    width: 318.55px;
    height: 206.12px;
  }
  
  .prev__card {
    left: -50px;
  }

  .next__card {
    right: -55px;
  }
}

