
/* Movil style */
.product-page{
  max-width: 1280px;
  margin: auto;
}

.product-page__top {
  display: flex;
  padding-top: 15px;
  gap: 9px;
  margin: 0 20px; 
}

.product-page__arrow-right {
  width: var(--eight-pixel);
  height: var(--eight-pixel);
  border-right: 2.3px solid var(--color-soft-gray);
  border-bottom: 2.3px solid var(--color-soft-gray);
  transform: rotate(-45deg);
  margin-top: 5px;
}

.product-page__text {
  color: var(--color-soft-gray);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight);
  line-height: var(--eighteen-pixel);
  letter-spacing: var(--letter-spacing-negative);
}

.product-page__content{
  display: flex;
  gap: var(--twenty-pixel);
  margin: 20px;
  flex-direction: column;
}

.product-page__background {
  border-radius: var(--font-size-small);
  box-shadow: 0px 0px 4px 0px #3635350D;
  background-color: var(--color-white);
  position: relative;
  display: flex;
}

.product-page__air {
  position: absolute;
  width: 80px;
  margin-top: 13pc;
  margin-left: 40px;
  padding-bottom: 5px;
  border-bottom: 9px solid rgba(239, 42, 130, 1);
  border-radius: var(--eight-pixel);
}

.product-page__image {
  border-radius: var(--font-size-small);
  overflow: hidden;
}


.product-page__zoom {
  position: relative;
  overflow: hidden;
}

.product-page__img {
  position: relative;
  display: flex;
  transition: transform 0.3s ease;
  cursor: zoom-in;
  width: 300px;
  margin-left: 20px;
}

.product-page__zoom:hover .product-page__img {
  transform: scale(1.6); 
  cursor: zoom-out;
}

.product-page__card{
  gap: var(--zero);
  border-radius: var(--sixteen-pixeles);
  background-color: var(--color-white);
  box-shadow: 0px 4px 16px 0px #3635351A;
}

.product-page__card:hover {
  box-shadow: var(--box-shadowe);
}

.product-page__full{
  padding: 10px 12px 0px;
}

.product-page__code{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-page__cont{
  display: flex;
  gap: var(--twenty-pixel);
  align-items: center;
}

.product-page__genaire,
.product-page__copilation{
  font-size: var(--font-size-small); 
  font-weight: var(--font-weight-small);
  line-height: var(--sixteen-pixeles);
  text-align: left;
  color: var(--color-soft-gray);
}
.product-page__bord{
  border: 1px solid var(--color-solid);
  height: 10px;
}
.product-page__redes{
  display: flex;
  gap: var(--ten-pixel);
  align-items: center;
}

.product-page__twitter{
  padding: 3px 5px;
  border-radius: 4px;
  background-color: var(--color-whiteX);
}

.product-page__facebook{
  padding: 3px 8px;
  border-radius: 4px;
  background-color: var(--color-whiteX);
}

.product-page__info{
  display: flex;
  justify-content: space-between;
}

.product-page__description{
  font-size: 25px;
  font-weight: var(--font-weight-bold);
  line-height: 36px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-gray);
}

.product-page__favorito{
  display: flex;
  align-items: flex-end;
  margin-right: 16px;
  margin-bottom: 4px;
}

.product-page__rating{
  display: flex;
  align-items: center;
  gap: var(--eight-pixel);
  margin-top: 5px;
}

.product-page__stars{
  color: var(--color-star);
  font-size: var(--eighteen-pixel);
  text-decoration: none;
}

.product-page__count{
  font-size: var(--eighteen-pixel);
  font-weight: var(--font-weight);
  line-height: var(--line-heightx-large);
  letter-spacing: 0.01em;
  color: var(--color-striking-gray);
}

.product-page__write{
  font-size: var(--ten-pixel);
  font-weight: var(--font-weight-small);
  line-height: var(--twenty-pixel);
  letter-spacing: -0.01em;
  color: var(--color-pink);
  text-decoration: none;
}

.product-page__badge{
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-small);
  line-height: var(--sixteen-pixeles);
  letter-spacing: 0.15em;
  background-color: var(--color-pink);
  color: var(--color-white);
  padding: 4px 12px;
  border-radius: 4px 0px 0px 4px;
}

.product-page__price{
  display: flex;
  font-size: 48px;
  font-weight: var(--font-weight-bold);
  line-height: 60.34px;
  letter-spacing: -0.01em;
  color: var(--color-pink);
  align-items: center;
  gap: var(--font-size-small);
}

.product-page__number{
  font-size: 34px;
  font-style: italic;
  font-weight: var(--font-weight-small);
  line-height: 44px;
  letter-spacing: -0.01em;
  color: var(--color-soft-gray);
  margin-top: 4px;
}

.product-page__extend{
  display: flex;
  align-items: center;
  gap: var(--ten-pixel);
  margin-top: 10px;
}

.product-page__button{
  display: flex;
  align-items: center;
  border: 1px solid var(--color-soft-gray);
  gap: var(--twenty-pixel);
  box-shadow: var(--box-shadowL);
  padding: 12px 12px 12px 10px;
  gap: var(--ten-pixel);
  border-radius: var(--eight-pixel);
  text-decoration: none;
}

.product-page__warranty{
  display: flex;
  align-items: center;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight);
  line-height: var(--eighteen-pixel);
  letter-spacing: -0.01em;
  color: var(--color-gray);
  gap: 25px;
}

.product-page__requires{
  font-size: 11px;
  font-weight: var(--font-weight);
  line-height: var(--sixteen-pixeles);
  letter-spacing: -0.01em;
}

.product-page__penalties{
  display: flex;
  gap: var(--twenty-pixel);
  color: var(--color-striking-gray);
}

.product-page__input {
  position: relative;
  display: flex;
  align-items: center;
}

.product-page__thanks{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: var(--color-whiteX);
  padding: var(--ten-pixel);
  padding-right: 30px; 
  font-size: var(--font-size-smalls);
  color: var(--color-striking-gray);
  border-radius: var(--eight-pixel);
  width: var(--width);
  cursor: pointer;
  background: var(--color-whiteX) url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuMTA5MzggNkw4LjEwOTM4IDEwTDEyLjEwOTMgNiIgc3Ryb2tlPSIjMzYzNTM1IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgLz4KPC9zdmc+') no-repeat right 10px center;
}

.product-page__thanks:focus {
  border-color: var(--color-pink);
  outline: none;
}

.product-page__learn-more{
  font-size: var(--font-size-small);
  display: flex;
  align-items: center;
  color: var(--color-pink);
  line-height: var(--sixteen-pixeles); 
  gap: 7px;
  margin-top: 2px;
}

.product-page__bords{
  border: 1px solid var(--color-solid);
  gap: 0px;
  margin: 18px 0px 5px;
}

.product-page__method{
  font-size: var(--sixteen-pixeles);
  font-weight: var(--font-weight);
  line-height: var(--twenty-pixel);
  color: var(--color-dark-gray);
}

.product-page__method-page{
  display: flex;
  align-items: center;
  gap: var(--sixteen-pixeles);
  margin-top: 10px;
}

.product-page__ofer{
  display: flex;
  align-items: center;
  gap: var(--ten-pixel);
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight);
  line-height: var(--eighteen-pixel);
  letter-spacing: -0.01em;
  color: var(--color-gray);
  border: 1px solid var(--color-soft-gray);
  border-radius: var(--eight-pixel);
  padding: 14px 15px 14px 10px;
  text-decoration: none;
}

.product-page__delivery-type {
  display: none;
}

.product-page__delivery-type:checked ~ svg ~ p {
  color: var(--color-pink);
  border-radius: var(--eight-pixel);
}

.product-page__delivery-type:checked ~ svg ~ p::before {
  content: '✓';
  color: var(--color-pink); 
}

.product-page__ofer:hover {
  border-color: var(--color-pink);
}

.product-page__add{
  display: flex;
  margin-top: 20px;
  gap: 28px;
  background-color: var(--color-whiteX);
  padding: 19px 0px;
  border-radius: 0px 0px 16px 16px;
  position: relative;
}

.product-page__quantity-selector{
  display: flex;
  align-items: center;
  border: 1px solid var(--color-solid);
  width: 120px;
  border-radius: var(--eight-pixel);
  justify-content: center;
  gap: 5px;
  position: absolute;
  margin-left: 20px;
  background-color: var(--color-white);
  height: 45px;
}

.product-page__decrease{
  border: none;
  background: none;
  cursor: pointer;
  font-size: 50px;
  color: var(--color-solid);
  margin-bottom: 10px;
  margin-left: 15px;
}

.product-page__quantity {
  font-size: 22px;
  font-weight: var(--font-weight);
  line-height: var(--line-height-medium);
  text-align: center;
  width: 64px;
  padding: 7px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1.5px solid var(--color-solid);
  border-right: 1.5px solid var(--color-solid);
  color: var(--color-solid);
  background-color: #f5f5f5;
  border-bottom: none;
  border-top: none;
}

.product-page__quantity::placeholder {
  color: var(--color-solid)
}

.product-page__increase{
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-solid);
  font-size: 40px;
  margin-right: 15px;
}

.product-page__add-purchases{
  display: flex;
  gap: var(--eight-pixel);
  background-color: var(--color-pink);
  border: none;
  border-radius: var(--eight-pixel);
  cursor: pointer;
  box-shadow: 0px 4px 12px 0px #D14D411A;
  padding: 10px 20px;
  position: relative;
  margin-top: -5px;
  margin-right: 20px;
}

.product-page__add-purchases:hover{
  background-color: #9e255b;
}

.product-page__add-cart{
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight-small);
  line-height: var(--eighteen-pixel);
  text-align: center;
  color: var(--color-white);
  letter-spacing: 0.06em;
}

.product-page__payment-methods {
  display: flex;
  height: 9px;
  gap: 5px;
  margin-top: 10px;
}

.product-page__add-target{
  margin-left: 150px;
}

/* Desktop style */
@media (min-width: 768px) {
  .product-page__top {
    padding-bottom: 24px;
    margin: 0px; 
  }

  .product-page__text {
    font-size: var(--font-size-smalls);
  }

  .product-page__content{
    flex-direction: row;
    margin: 0px 0px 20px;
    gap: 52px;
  }

  .product-page__air {
    margin-top: 21pc;
  }
  
  .product-page__image {
    width: 150px;
  }

  .product-page__zoom {
    width: 640px;
  }

  .product-page__img {
    align-items: center;
    margin: auto;
    width: 430px;
  }

  .product-page__card{
    flex-basis: 438px;
    padding: 10px 18px 0px;
  }

  .product-page__full{
    padding: 0px;
  }

  .product-page__description{
    font-size: 28px;
  }

  .product-page__stars{
    font-size: 23px;
  }

  .product-page__count{
    font-size: var(--twenty-pixel);
  }

  .product-page__write{
    font-size: var(--font-size-smalls);
  }

  .product-page__badge{
    margin-left: 13px;
    padding: 5px 13px;
  }

  .product-page__extend{
    gap: var(--eighteen-pixel);
  }

  .product-page__warranty{
    font-size: var(--sixteen-pixeles);
  }

  .product-page__requires{
    font-size: var(--font-size-small);
  }

  .product-page__add{
    margin-left: -18px;
    margin-right: -18px;
  }

  .product-page__quantity-selector{
    width: 135px;
  }

  .product-page__quantity {
    width: 68px;
  }

  .product-page__increase{
    margin-left: 3px;
  }

  .product-page__decrease{
    margin-right: 3px;
  }

  .product-page__add-purchases{
    padding: 18px 20px;
    position: relative;
    margin-top: -5px;
  }

  .product-page__add-cart{
    text-align: center;
    color: var(--color-white);
    letter-spacing: 0.06em;
  }

  .product-page__payment-methods {
    display: flex;
    height: 12px;
  }

  .product-page__add-target{
    margin-left: 180px;
  }
}