
/* Movil style */
.shopping-cart {
  width: var(--width);
  padding: 0px;
}

.shopping-cart__top {
  display: flex;
  padding-top: 15px;
  padding-bottom: 24px;
  gap: 9px;
  margin: 0 16px; 
}

.shopping-cart__arrow-right {
  width: 8px;
  height: 8px;
  border-right: 2.3px solid var(--color-soft-gray);
  border-bottom: 2.3px solid var(--color-soft-gray);
  transform: rotate(-45deg);
  margin-top: 5px;
}

.shopping-cart__text {
  color: var(--color-soft-gray);
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight);
  line-height: var(--eighteen-pixel);
  letter-spacing: var(--letter-spacing-negative);
}

.shopping-cart__bottom__background {
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px 0px var(--box-shadowL);
  margin-bottom: 26px;
}

.shopping-cart__bottom__add {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding: var(--padding-vertical);
}

.shopping-cart__bottom {
  margin: 0 16px; 
}

.shopping-cart__bottom-left {
  display: flex;
  flex-direction: column;
  gap: var(--twenty-pixel);
}

.shopping-cart__left-text {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  line-height: 28px;
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  color: var(--color-gray);
}

.shopping-cart__left-parrafo {
  font-size: var(--sixteen-pixeles);
  font-weight: var(--font-weight);
  line-height: var(--line-height-small);
  text-align: left;
  color: var(--color-soft-gray);
}

.shopping-cart__bottom-right {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px; 
  position: relative;
}

.shopping-cart__right-text {
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight-small);
  line-height: var(--twenty-pixel);
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  color: var(--color-pink);
}

.shopping-cart__link {
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

/* Desktop style */
@media (min-width: 768px) {
  .shopping-cart__top {
    flex-direction: row; 
    max-width: var(--max-widthx);
    margin: 0 auto;
  }

  .shopping-cart__bottom__add {
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
  }

  .shopping-cart__bottom {
    max-width: var(--max-widthx);
    margin: 0 auto;
  }

  .shopping-cart__bottom-right {
    margin-top: 0; 
  }
}


/* Movil style */
.purchase-summary-top{
  max-width: 100%;
  width: var(--width);
  padding: var(--zero);
  margin: 0 auto;
}

.purchase-summary__send{
  display: flex;
  gap: var(--eight-pixel);
  width: var(--width);
  align-items: flex-start;
  padding: var(--twenty-pixel);
  background-color: var(--color-white);
  box-shadow: var(--box-shadowL);
}

.purchase-summary__send-text{
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight);
  line-height: var(--eighteen-pixel);
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  color: var(--color-gray);
}
.purchase-summary__title{
  font-size: var(--twenty-pixel);
  font-weight: var(--font-weight-small);
  line-height: 30px;
  letter-spacing: var(--letter-spacing-positive);
  text-align: left;
  color: var(--color-gray);
  padding: var(--twenty-pixel);
}

.purchase-summary__analytics{
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
  margin: 0px 20px 20px 20px;
}

.purchase-summary__analytics__link {
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.purchase-summary__analytics-completed{
  display: flex;
  flex-direction: column;
  padding: var(--zero);
  position: relative;
}

.purchase-summary__analytics-completed:hover {
  box-shadow: var(--box-shadowe);
}

.purchase-summary__analytics-revision{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: var(--width);
  background-color: var(--color-white);
  padding: 25px;
}

.purchase-summary__analytics-bord{
  border: 1px solid var(--color-solid);
  margin-top: 8px;
  height: 10px;
}

.purchase-summary__analytics-img{
  width: var(--width);
  margin-left: 0;
}

.purchase-summary__analytics-text,
.purchase-summary__analytics-code {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-small);
  line-height: var(--sixteen-pixeles);
  text-align: left;
  color: var(--color-gray);
  margin-top: 5px;
}

.purchase-summary__analytics-title{
  font-size: var(--twenty-pixel);
  line-height: var(--line-heightx-large);
  text-align: left;
  color: var(--color-gray); 
  margin-top: 5px;
}

.purchase-summary__analytics-shop{
  display: flex;
  flex-direction: column;
}

.purchase-summary__analytics-see{
  display: flex;
  gap: var(--ten-pixel);
}

.purchase-summary__analytics--bord-2{
  width: var(--width);
  margin-top: 10px;
  margin-bottom: 10px;
  height: 0px;
}

.purchase-summary__analytics-shoppings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}

.purchase-summary__analytics-precio{
  font-size: 20px;
  font-weight: 700;
  line-height: var(--line-height-large);
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  color: var(--color-pink);
  margin-left: 0;
}

.purchase-summary__analytics-delete{
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight-small);
  line-height: var(--twenty-pixel);
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  color: var(--color-soft-gray);
  display: flex;
  align-items: center;
  gap: var(--eight-pixel);
  text-decoration: none;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.purchase-summary__quantity-selector{
  display: flex;
  align-items: center;
  border: 1px solid var(--color-soft-gray);
  width: 190px;
  border-radius: var(--eight-pixel);
  justify-content: center;
  gap: 5px;
  position: relative;
}

.purchase-summary__decrease{
  border: none;
  background: none;
  cursor: pointer;
  width: 22px;
  border: 1.5px solid var(--color-solid);
  margin-right: 5px;
}

.purchase-summary__increase{
  border: none;
  background: none;
  cursor: pointer;
  width: 25px;
  border: 1.5px solid var(--color-gray);
}

.purchase-summary__increase--1{
  height: var(--eighteen-pixel);  
  width: 0px;
  position: absolute;
  margin-left: 135px;
}

.purchase-summary__quantity {
  font-size: var(--twenty-pixel);
  font-weight: var(--font-weight);
  line-height: 25px;
  text-align: center;
  width: 95px;
  padding: var(--eight-pixel);
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border-left: 1.5px solid var(--color-solid);
  border-right: 1.5px solid var(--color-solid);
}

.purchase-summary__payment {
  background: var(--color-white);
  padding: 25px 20px 25px 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 16px 0px rgba(54, 53, 53, 0.1);
  width: var(--width);
  max-width: 462px;
  display: flex;
  flex-direction: column;
  gap: var(--twenty-pixel);
}

.purchase-summary__payment:hover {
  box-shadow: var(--box-shadowe);
}

.purchase-summary__payment-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: flex-start;
}

.purchase-summary__payment-precio,
.purchase-summary__payment-quantity {
  font-size: var(--twenty-pixel);
  font-weight: var(--font-weight-small);
  line-height: var(--line-heightx-large);
  color: var(--color-gray);
}

.purchase-summary__payment-available{
  color: #05B999; 
  font-size: var(--font-size-smalls);
}

.purchase-summary__payment-methods {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--ten-pixel);
  margin-top: -9px;
}

.purchase-summary__payment-code{
  font-size: var(--sixteen-pixeles);
  font-weight: var(--font-weight);
  text-align: left;
  color: var(--color-striking-gray);
}

.purchase-summary__payment-total{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.purchase-summary__payment-precio--3{
  color: var(--color-pink);
  font-size: 34px;
  font-weight: var(--font-weight-bold);
  line-height: 44px;
  letter-spacing: var(--letter-spacing-negative);
}

.purchase-summary__payment-shipping{
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  margin-top: -5px;
}

.purchase-summary__payment-process{
  display: flex;
  background-color: var(--color-pink);
  border: none;
  border-radius: var(--eight-pixel);
  cursor: pointer;
  box-shadow: 0px 4px 12px 0px #D14D411A;
  padding: 30px;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin: 0px 20px 0px 20px;
}

.purchase-summary__payment-text{
  font-weight: var(--font-weight-small);
  line-height: var(--eighteen-pixel);
  text-align: center;
  color: var(--color-white);
}

.purchase-summary__payment-text{
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight-small);
  line-height: var(--eighteen-pixel);
  letter-spacing: 0.06em;
  text-align: left;
}

/* Desktop style */
@media (min-width: 768px) {
  .purchase-summary-top{
    max-width: var(--max-widthx);
    width: var(--width);
    padding: var(--zero);
    display: flex;
    align-items: center;
    gap: 26px;
    margin: 0 auto;
    flex-direction: row;
  }

  .purchase-summary__send{
    display: flex;
    gap: var(--eight-pixel);
    width: 965px;
    align-items: center;
    flex-direction: row;
  }

  .purchase-summary__send-text{
    text-align: left;
    color: var(--color-gray);
  }
  .purchase-summary__title{
    line-height: var(--line-heightx-large);
    text-align: left;
    color: var(--color-gray);
    margin-top: -5px;
    padding: 0px;
  }

  .purchase-summary__analytics{
    display: flex;
    max-width: var(--max-widthx);
    margin: 0 auto;
    gap: 26px;
    flex-direction: row;
  }

  .purchase-summary__analytics__link {
    font-size: 0;
    inset: 0;
    position: absolute;
    z-index: 1;
  }

  .purchase-summary__analytics-completed{
    display: flex;
    align-items: center;
    margin-top: 11px;
    position: relative;
    height: 306px;
  }

  .purchase-summary__analytics-completed:hover {
    box-shadow: var(--box-shadowe);
  }

  .purchase-summary__analytics-revision{
    display: flex;
    width: 965px;
    height: 306px;
    background-color: var(--color-white);
    padding: 16px 30px 0px 0px;
    flex-direction: row;
  }

  .purchase-summary__analytics-img{
    width: 135.72px;
    height: 80px;
    margin-left: 22px;
    margin-top: 21px; 
  }

  .purchase-summary__analytics-text{
    text-align: left;
    color: var(--color-striking-gray);
  }

  .purchase-summary__analytics-code{
    text-align: left;
    color: var(--color-soft-gray);
  }

  .purchase-summary__analytics-shop{
    display: flex;
    flex-direction: column;
  }

  .purchase-summary__analytics-see{
    display: flex;
    flex-direction: row;
  }

  .purchase-summary__analytics--bord-2{
    width: 726.72px;
    height: var(--zero);
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .purchase-summary__analytics-shoppings{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .purchase-summary__analytics-precio{
    font-size: var(--line-height-medium);
    font-weight: var(--font-weight-bold);
    text-align: left;
    color: var(--color-pink);
    margin-left: 20px;
  }

  .purchase-summary__analytics-delete{
    line-height: var(--twenty-pixel);
    text-align: left;
    color: var(--color-soft-gray);
    display: flex;
    align-items: center;
    gap: var(--eight-pixel);
    text-decoration: none;
    margin: var(--zero);
  }

  .purchase-summary__quantity-selector{
    display: flex;
    align-items: center;
    border: 1px solid var(--color-soft-gray);
    width: 190px;
    border-radius: var(--eight-pixel);
    justify-content: center;
    gap: 5px;
    position: relative;
  }

  .purchase-summary__decrease{
    border: none;
    background: none;
    cursor: pointer;
    width: 22px;
    border: 1.5px solid var(--color-solid);
    margin-right: 5px;
  }

  .purchase-summary__increase{
    border: none;
    background: none;
    cursor: pointer;
    width: 25px;
    border: 1.5px solid var(--color-gray);
  }
  
  .purchase-summary__increase--1{
    width: var(--zero);
    position: absolute;
    margin-left: 135px;
  }

  .purchase-summary__quantity {
    line-height: 25.14px;
    text-align: center;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-left: 1.5px solid var(--color-solid);
    border-right: 1.5px solid var(--color-solid);
  }

  .purchase-summary__analytics-add{
    display: flex;
    gap: 49px;
    flex-direction: row;
  }

  .purchase-summary__payment {
    padding: 25px 20px 30px 20px;
    width: 462px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }

  .purchase-summary__payment:hover {
    box-shadow: var(--box-shadowe);
  }

  .purchase-summary__payment-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    flex-direction: row;
  }

  .purchase-summary__payment-precio {
    color: var(--color-gray); 
  }

  .purchase-summary__payment-methods {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--ten-pixel);
    margin-top: -7px;
  }

  .purchase-summary__payment-code{
    line-height: 22px;
    text-align: left;
    color: var(--color-striking-gray);
  }

  .purchase-summary__payment-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .purchase-summary__payment-quantity{
    text-align: left;
    color: var(--color-gray);
  }

  .purchase-summary__payment-precio--3{
    color: var(--color-pink);
    text-align: right;
    line-height: 44px;
  }

  .purchase-summary__payment-shipping{
    display: flex;
    justify-content: flex-end;
    margin-top: -5px;
  }

  .purchase-summary__payment-process{
    display: flex;
    background-color: var(--color-pink);
    border: none;
    border-radius: var(--eight-pixel);
    cursor: pointer;
    margin-top: -5px;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin: 0px 20px 0px 20px;
  }
}


/* Movil style */
.can-interest__card{
  position: relative;
  border: 1px solid var(--color-solid);
  background-color: var(--color-white);
  padding: 0px 0px 25px 13px;
  box-shadow: 0px 0px 4px 0px var(--box-shadowL);
  border-radius: var(--eight-pixel); 
}

.can-interest__card:hover {
  box-shadow: var(--box-shadowe);
  border: 1.5px solid var(--color-solid);
}

.can-interest__card-link{
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.can-interest__prod{
  display: flex;
  font-size: var(--sixteen-pixeles);
  font-weight: var(--font-weight);
  line-height: var(--line-height-small);
  text-align: left;
  color: var(--color-striking-gray);
}

.can-interest__price{
  font-size: var(--twenty-pixel);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-medium);
  text-align: left;
  color: var(--color-gray);
  margin-bottom: 9px;
}

.can-interest__price--price-2{
  padding-bottom: 22px;
}

.can-interest__row {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 4px;
}

.can-interest__row-text{
  font-size: var(--font-size-small);
  font-weight: var(--font-weight);
  line-height: var(--sixteen-pixeles);
  text-align: left;
  color: var(--color-striking-gray);
}

.can-interest__row-text--row-2{
  color: var(--color-solid);
}

.can-interest__img {
  max-width: var(--width);
  display: flex;
  margin-left: -4px;
}

.can-interest__img--img-2{
  margin-left: -10px;
}

.can-interest__star{
  width: var(--eighteen-pixel);
  color: var(--color-star);
  margin-left: -53px;
  margin-top: 2px;
}

.can-interest__star--star-2{
  margin-left: -33px;
}

.can-interest__star--star-3{
  margin-left: -43px;
}

.can-interest__rating{
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight);
  line-height: var(--eighteen-pixel);
  margin-left: 2px;
  margin-top: 4px;
}

.can-interest__rating--rating- {  
  margin-left: 1px;
}

.can-interest__rating--rating-2 {  
  margin-left: 1px;
}

.can-interest{
  position: relative;
}

.can-interes__title{
  padding-top: 40px;
  font-size: var(--line-height-medium);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-large);
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  color: var(--color-gray);
  max-width: var(--max-widthx);
  margin: auto;
  margin-left: 20px;
}

.can-interest__background{
  background-color: var(--color-white);
  overflow: visible;
  position: relative;
  margin: 25px 0px 141px 0px;
}

.can-interest__content{
  max-width: 1350px;
  margin: auto;
  position: relative;
}

.can-interest__columns{
  max-width: var(--max-widthL);
  margin: auto;
  position: relative;
  overflow: hidden;
  padding: 0px 50px;
}

.can-interest__product{
  position: relative;
  display: flex;
  gap: 25px;
  max-width: var(--max-widthL);
  margin: 0 auto;
  transition: transform 0.8s ease;
  padding: 40px 30px 121px;
}

.can-interest__text{
  font-size: var(--sixteen-pixeles);
  font-weight: var(--font-weight);
  line-height: var(--line-height-small);
  text-align: left;
  color: var(--color-soft-gray);
}

.can-interest__text--text-2{
  font-size: var(--font-size-small);
}

.prev__card, 
.next__card {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: var(--color-white);
  border: 1px solid black; 
  border-radius: 50%;
  padding: 12px 16.5px;
  cursor: pointer;
  z-index: 1000; 
}

.prev__card {
  left: 20px;
  color: var(--color-black);
}

.next__card { 
  right: 15px; 
  color: var(--color-black); 
}

.can-interest__delivery-day{
  width: var(--sixteen-pixeles);
  height: var(--sixteen-pixeles);
}

.can-interest__delivery {
  color: var(--color-text-highlight);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight);
  line-height: var(--sixteen-pixeles);
  gap: 6px;
  margin-left: 2px;
  align-items: center;
  display: flex;
  margin-top: 5px;
}

/* Desktop style */
@media (min-width: 768px){
  .can-interes__title{
    margin: auto;
  }

  .can-interest__content{
    max-width: var(--max-widthx);
  }

  .can-interest__columns{
    padding: var(--zero);
  }

  .can-interest__product{
    padding: 40px 0px 121px;
  }

  .prev__card {
    left: -20px;
  }

  .next__card { 
    right: -5px; 
  }
}