
/* Movil style */
.shopping-cart {
  width: var(--width);
  padding: 0px;
}

.shopping-cart__top {
  display: flex;
  padding-top: 15px;
  padding-bottom: 24px;
  gap: 9px;
  margin: 0 16px; 
}

.shopping-cart__arrow-right {
  width: 8px;
  height: 8px;
  border-right: 2.3px solid var(--color-soft-gray);
  border-bottom: 2.3px solid var(--color-soft-gray);
  transform: rotate(-45deg);
  margin-top: 5px;
}

.shopping-cart__text {
  color: var(--color-soft-gray);
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight);
  line-height: var(--eighteen-pixel);
  letter-spacing: var(--letter-spacing-negative);
}

.shopping-cart__bottom__background {
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px 0px #3635350D;
  margin-bottom: 26px;
}

.shopping-cart__bottom__add {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding: var(--padding-vertical);
}

.shopping-cart__bottom {
  margin: 0 16px; 
}

.shopping-cart__bottom-left {
  display: flex;
  flex-direction: column;
  gap: var(--twenty-pixel);
}

.shopping-cart__left-text {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  line-height: 28px;
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  color: var(--color-gray);
}

.shopping-cart__left-parrafo {
  font-size: var(--sixteen-pixeles);
  font-weight: var(--font-weight);
  line-height: var(--line-height-small);
  text-align: left;
  color: var(--color-soft-gray);
}

.shopping-cart__bottom-right {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px; 
  position: relative;
}

.shopping-cart__right-text {
  font-size: var(--font-size-smalls);
  font-weight: var(--font-weight-small);
  line-height: var(--twenty-pixel);
  letter-spacing: var(--letter-spacing-negative);
  text-align: left;
  color: var(--color-pink);
}

.shopping-cart__link {
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

/* Desktop style */
@media (min-width: 768px) {
  .shopping-cart__top {
    flex-direction: row; 
    max-width: var(--max-widthx);
    margin: 0 auto;
  }

  .shopping-cart__bottom__add {
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
  }

  .shopping-cart__bottom {
    max-width: var(--max-widthx);
    margin: 0 auto;
  }

  .shopping-cart__bottom-right {
    margin-top: 0; 
  }
}






.purchase-summary-top{
  max-width: var(--max-widthx);
  width: var(--width);
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 26px;
  margin: 0 auto;
}

.purchase-summary__background{
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px 0px #3635350D;
}

.purchase-summary__send{
  display: flex;
  gap: 8px;
  width: 949px;
  height: 67px;
  align-items: center;
  margin-left: 16px;
}

.purchase-summary__send-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-gray);
}
.purchase-summary__title{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--color-gray);
  margin-top: -5px;
}

.purchase-summary__analytics{
  display: flex;
  max-width: var(--max-widthx);
  margin: 0 auto;
  gap: 26px;
}

.purchase-summary__analytics__link {
  font-size: 0;
  inset: 0;
  position: absolute;
  z-index: 1;
}

.purchase-summary__analytics-completed{
  display: flex;
  align-items: center;
  padding: 0px;
  margin-top: 11px;
  height: 306px;
  position: relative;
}

.purchase-summary__analytics-completed:hover {
  box-shadow: var(--box-shadowe);
}

.purchase-summary__analytics-revision{
  display: flex;
  gap: 15px;
  width: 965px;
  height: 306px;
  background-color: var(--color-white);
  padding-top: 16px;
  padding-right: 30px;
}

.purchase-summary__analytics-bord{
  border: 1px solid var(--color-solid);
  height: 10px;
  margin-top: 3px;
}

.purchase-summary__analytics-img{
  width: 135.72px;
  height: 80px;
  margin-left: 22px;
  margin-top: 21px; 
}

.purchase-summary__analytics-text{
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: var(--color-striking-gray);
}

.purchase-summary__analytics-code{
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: var(--color-soft-gray);
}

.purchase-summary__analytics-title{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--color-gray); 
  margin-top: 5px;
}

.purchase-summary__analytics-shop{
  display: flex;
  flex-direction: column;
}

.purchase-summary__analytics-see{
  display: flex;
  gap: 20px;
}

.purchase-summary__analytics--bord-2{
  width: 726.72px;
  height: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.purchase-summary__analytics-shoppings{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase-summary__analytics-precio{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-pink);
  margin-left: 20px;
}

.purchase-summary__analytics-delete{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-soft-gray);
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}


.purchase-summary__quantity-selector{
  display: flex;
  align-items: center;
  border: 1px solid var(--color-soft-gray);
  width: 190px;
  border-radius: 8px;
  justify-content: center;
  gap: 5px;
  position: relative;
}

.purchase-summary__decrease{
  border: none;
  background: none;
  cursor: pointer;
  width: 22px;
  height: 1px;
  border: 1.5px solid #D8D8D8;
  margin-right: 5px;
}


.purchase-summary__increase{
  border: none;
  background: none;
  cursor: pointer;
  width: 25px;
  border: 1.5px solid #363535;
}

.purchase-summary__increase--1{
  height: 18px;  
  width: 0px;
  position: absolute;
  margin-left: 135px;
}


.purchase-summary__quantity {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.14px;
  text-align: center;
  width: 95px;
  height: 41px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border-left: 1.5px solid #D8D8D8;
  border-right: 1.5px solid #D8D8D8;
}

.purchase-summary__analytics-add{
  display: flex;
  gap: 49px;
}

.purchase-summary__payment {
  background: rgba(255, 255, 255, 1);
  padding: 25px 20px 0px 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 16px 0px rgba(54, 53, 53, 0.1);
  width: 462px;
  height: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.purchase-summary__payment:hover {
  box-shadow: var(--box-shadowe);
}


.purchase-summary__payment-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.purchase-summary__payment-precio {
  color: var(--color-gray); 
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.purchase-summary__payment-available{
  color: #05B999; 
  font-size: 14px;
}

.purchase-summary__payment-methods {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -9px;
}

.purchase-summary__payment-img {
  width: 36px;
  height: 11px;
}


.purchase-summary__payment-code{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: var(--color-striking-gray);
}

.purchase-summary__payment-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase-summary__payment-quantity{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--color-gray);
}


.purchase-summary__payment-precio--3{
  color: var(--color-pink);
  text-align: right;
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.01em;
}

.purchase-summary__payment-truck{
  width: 16px;
  height: 16px;
}

.purchase-summary__payment-shipping{
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  margin-top: -5px;
}
.purchase-summary__payment-process{
  display: flex;
  background-color: var(--color-pink);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 12px 0px #D14D411A;
  height: 77px;
  margin-top: -5px;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin: 0px 20px 0px 20px;
}

.purchase-summary__payment-text{
  font-size: 14px;
  font-weight: 600;
  line-height: 17.6px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #fff;
}

